{{#if success_msg}}
    <div class="msg-block msg-block-success">
        <div class="success-msg">{{success_msg}}</div>
    </div>
{{/if}}
{{#if error_msg}}
    <div class="msg-block msg-block-error">
        <div class="error-msg">{{error_msg}}</div>
    </div>
{{/if}}