<nav class="navbar">
   <div class="navbar-left">
        <div class="navbar-logo">
            <a href="/"><div class="image-logo"></div></a>
        </div>
        <div class="navbar-options">
            <ul class="navbar-menu">
                <li class="navbar-menu-item"><a href="/">Home</a></li>
                <li class="navbar-menu-item"><a href="/posts">Atualizar</a></li>
                <li class="navbar-menu-item"><a href="/register">Cadastrar-se</a></li>
                <li class="navbar-menu-item"><a href="/login">Fazer Login</a></li>
            </ul>
        </div>
   </div>
    <div class="navbar-right">
        <div class="navbar-search-block">
            <input type="text" class="navbar-input-search" placeholder="Buscar por titulo">
            <button class="navbar-btn-search">Pesquisar</button>
        </div>
        {{#if user.logged}}
        <div class="navbar-floatmenu">
            <ul class="navbar-floatmenu-user">
                <li class="navbar-floatmenu-item"><a href="/register">Editar dados</a></li>
            </ul>
        </div>
        {{/if}}
    </div>
</nav>