<nav class="navbar">
{{#if user.logged}}
   <div class="navbar-left">
        <a href="/" class="navbar-logo">
           <div class="image-logo"></div>
        </a>
        <div class="navbar-options">
            <ul class="navbar-menu">
                <li class="navbar-menu-item"><a href="/users/{{user._id}}">Home</a></li>
                <li class="navbar-menu-item"><a href="#">Mudar Senha</a></li>
                <li class="navbar-menu-item"><a href="/users/post/{{user._id}}">Fazer postagem</a></li>
                <li class="navbar-menu-item"><a href="/login/exit/{{user._id}}">Sair</a></li>
            </ul>
        </div>
   </div>
  
{{else}}
    <div class="navbar-left">
        <a href="/" class="navbar-logo">
           <div class="image-logo"></div>
        </a>
        <div class="navbar-options">
            <ul class="navbar-menu">
                <li class="navbar-menu-item"><a href="/">Home</a></li>
                <li class="navbar-menu-item"><a href="/register">Cadastrar-se</a></li>
                <li class="navbar-menu-item"><a href="/login">Fazer Login</a></li>
            </ul>
        </div>
   </div>
{{/if}} 
    <div class="navbar-right">
        <div class="navbar-search-block">
            <form action="/search-post" method="get">
                <input type="text" class="navbar-input-search" placeholder="Buscar por titulo">
                <button class="navbar-btn">Pesquisar</button>
            </form>
        </div>
        
    </div>

</nav>