<div class="login-background">
    <form action="/login/authenticate" method="post" class="login-input-block">
        <input type="email" name="email" class="login-input" placeholder="Email">
        <input type="password" name="password" class="login-input" placeholder="Senha">
        <div class="form-footer">
            <a href="/login/recovery-pass">Esqueci a senha</a>
            <button class="btn-log">Entrar</button>
        </div>
    </div>
</div>