<form action="/auth/login" method="POST" class="input-block">
    <label class="lbl-form">LOGIN</label>
    <input type="email" name="email" class="login-input" placeholder="Email">
    <input type="password" name="password" class="login-input" placeholder="Senha">
    <div class="form-footer">
        <button class="btn btn-footer">Entrar</button>
        <a href="/auth/recovery-pass">Esqueci a senha</a>
    </div>
</div>
