<form action="/login/authenticate" method="post" class="input-block">
    <label class="lbl-form">LOGIN</label>
    <input type="email" name="email" class="form-input" placeholder="Email">
    <input type="password" name="password" class="form-input" placeholder="Senha">
    <div class="form-footer">
        <button class="btn btn-footer">Entrar</button>
        <a href="/login/recovery-pass">Esqueci a senha</a>
    </div>
</div>
