<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404 - Not found</title>
</head>
<body>
    <strong>ERRO 404 - NOT FOUND.</strong> 
    <h1>OPS!</h1>
    <img id="image" src="https://maxima.uol.com.br/media/stories/tristeza-e-depressao-afetam-o-fisico/assets/24.gif" alt="">
    <p>Parece que a página que você está tentando acessar não está disponível</p> 
    <p>Geralmente isso acontece quando a página não existe em nossos servidores, ou você não possui permissão para acessá-la</p>
    <div class="btn-block">
        <button class="btn"><a href='//localhost:8080'>Ir para Home</a></button>
        <button class="btn"><a href='/login'>Fazer login</a></button>
    </div>
</body>
</html>