<div class="container">
    {{#each posts}}
            <h2 class="container-card-post-title">Titulo: {{this.title}}</h2>
        <div class="container-card">
            <p class="container-card-post-body">{{this.bodyText}}</p>
        </div>
    {{else}}
        <div class="container-empty-card">Nenhuma Postagem cadastrada</div>
    {{/each}}
</div>