<div id="container">
        {{#each posts}}
        <div class="container-card">
            <h2 class="container-card-post-title">{{this.title}}</h2>   
            <p class="container-card-post-body">{{this.bodyText}}</p>    
        </div>        
    {{else}}
        <div class="container-empty-card">Nenhuma Postagem cadastrada</div>
    {{/each}}
</div>