<div class="login-background">
    <form action="/register/add" method="post" class="input-block">
        <label class="lbl-form">Preencha os campos</label>
        <input type="text" name="username" class="form-input" placeholder="Seu nome">       
        <input type="email" name="email" class="form-input" placeholder="Email">       
        <input type="password" name="password" class="form-input" placeholder="Senha">        
        <button class="btn btn-footer">Cadastrar</button>
    </div>
</div>