<div class="login-background">
    <form action="/register/add" method="post" class="register-input-block">
        <input type="text" name="username" class="login-input" placeholder="Seu nome">
        <input type="email" name="email" class="login-input" placeholder="Email">
        <input type="password" name="password" class="login-input" placeholder="Senha">
        
        <button class="btn-log">Entrar</button>
    </div>
</div>