<div id="container">
    <header class="container-header">
        <h1 class="title h1">Exibindo resultados para "{{search}}"</h1>
    </header>
    <section class="section-post">
        {{#if user.logged}}
            {{>_posts}}            
        {{else}}
            {{>_posts_nologged}}
        {{/if}}
    </section>
</div>