@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
    --var-color-orange-primary: rgb(255, 129, 11);
    --var-color-orange-secondary: rgb(255, 151, 55);
    --var-color-orange-dark: rgb(223, 109, 3);
    --var-color-black: rgb(0, 0, 0);
    --var-color-white: rgb(255, 255, 255);
    --var-color-shadow: rgba(0, 0, 0, 0.377);
    --var-color-error-message: rgb(255, 255, 255);
    --var-color-error-background: rgba(250, 53, 53, 0.747);
    --var-color-btn-red-background: rgb(255, 4, 4);
    --var-color-btn-red2-background: rgb(185, 15, 15);
    --var-color-success-message: rgb(0, 0, 0);
    --var-color-success-background: rgba(0, 250, 104, 0.918);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--var-color-black);
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 12px;
}

body {
    width: 100%;
    height: 100%;
}

input, textarea {
    border-style: solid;
    resize: none;
}

li {
    display: block;
}

#page-landing {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.151);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    border-radius: 10px 10px 0 0;
    position: relative;
    height: 100%;
    
    margin: 0;
    width: 90%;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);   
}

.hidden {
    visibility: hidden;
}
