<div id="container">
    <div class="form-div">

        <form action="/users/post/add/{{user._id}}" method="post" id="form-post" class="form-post" on>
            <legend>Criar novo post</legend>

            <input type="text" class="form-input" name="title" id="title" placeholder="Titulo">
            <textarea name="bodyText" class="form-input" id="textBody" placeholder="Texto"></textarea>
        </form>
        <div class="form-footer">
            <button type="submit" class="btn btn-success submit" form="form-post">Salvar</button>
            <a href="/users/{{user._id}}" class="btn btn-cancel">Cancelar</a>
        </div>
    </div>
</div>

<script src="/js/post-submit.js"></script>
