<div id="container">
    <section class="section-posts">
    {{#each posts}}
        <article class="post">
            <h2 class="title">{{this.title}}</h2>
            <p class="text">{{this.bodyText}}</p>
            <footer>
                <a href="" class="btn btn-success">Editar</a>
                <a href="" class="btn btn-cancel">Deletar</a>
            </footer>
        </article>
    {{else}}
        <div class="container-empty-card">Nenhuma Postagem cadastrada</div>
    {{/each}}
    </section>
</div>