@media (min-width: 900px) {
    #page-landing {
        min-height: 100vh;
    }
    
    #container {     
        text-align: center;
        min-height: 84vh;
        justify-items: center;
        padding: 60px 20px 30px 20px;
        margin-top: 100px;
        margin-bottom: 0px;       
        box-shadow: 1px -5px 10px var(--var-color-shadow);
    }
    
    .input-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 10px;
        height: 350px;
        width: 320px;
        border-color: var(--var-color-orange-dark);
        border-radius: 10px;
        border-style: solid;
        background-color: var(--var-color-orange-primary);
    }

    .input-block input {
        position: relative;
        height: 50px;
        width: 100%;
        margin: 1px 0;
        border-radius: 10px;
        padding: 5px;
        border-color: var(--var-color-orange-dark);        
        border-style: solid;
    }
    .input-block label {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .input-block a {
        font-size: 12px;
        text-align: center;
    }
    .input-block label, a {
        color: white;
    }

    .btn {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100px;
        background-color: var(--var-color-orange-dark);
        border-color: white;
        border-style: solid;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: all 500ms;
    }

    .btn:hover {
        background-color: white;
        color: var(--var-color-orange-dark);
    }

    .form-footer-login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .btn-footer {
        height: 40px;
        width: 100%;
        margin: 10px 0;
    }

    
    .msg-block {
        position: absolute;
        height: 50px;
        width: 320px;
        top: 10px;
        z-index: 10;
        box-shadow: 2px 2px 10px var(--var-color-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-top: 60px;
        margin-bottom: 20px;       
    }
    .msg-block-error {
        background-color: var(--var-color-error-background);
    }

    .msg-block-success {
        background-color: var(--var-color-success-background);
    }
    .success-msg {
        color: var(--var-color-success-message);
    }
    .error-msg {
        color: var(--var-color-error-message);
        font-size: 12px;
    }

    .btn-success {
        background-color: var(--var-color-success-background);       
        height: 40px;
        width: 100px;
    }
    .btn-success a {
        color: black;
    } 
    .btn-cancel {
        background-color: var(--var-color-error-background);
        color: white
    }
    .btn-cancel:hover {
        color: var(--var-color-error-background);
        background-color: white;
        border-color: var(--var-color-error-background);
    }
    .btn-success:hover {
        color:black;
        border-color: var(--var-color-success-background);    
    }

    .btn-cancel {
        background-color: var(--var-color-btn-red-background);
    }

    .form-post {
        display: block;
        padding: 0px 10px;
        width: 100%;
 
        display: flex;
        flex-direction: column;
        
    }

    .form-div{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .form-post legend {
        text-align: left;
        font-size: 28px;
    
    }

    .form-post legend,.form-input {
        margin: 5px 0;
    }
    
    .form-input {
        padding: 10px;
        border-radius: 10px;
    }

    .form-post #title {
        height: 40px;
        font-size: 15px;
    }

    .form-post #textBody {
        height: 150px;
    }

    .form-footer {
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 100%;
        justify-content: space-around;
    }

    .form-footer .btn {
        height: 100%;
        width: 300px;
    }
}
